# dependencies
/node_modules

# build output
/build
/dist

# logs
*.log

# dotenv environment files
.env
.env.test
.env.production

# IDEs and editors
.idea
.vscode
.DS_Store

# npm package-lock
package-lock.json
